<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 行业树根节点主题关键词 -->
<mapper namespace="ims.subjectTree.dao.IllegalWordsMapper">

<!-- 删除指定后台行业节点下的所有关键字 -->
<delete id="delIllegalWordsByIllegalWordsId" parameterType="int">
 	DELETE FROM tbl_illegalWords WHERE illegalWordTreeId = #{illegalWordTreeId}
</delete>

<!-- 添加行业关键词 -->
<insert id="insertIllegalWords" parameterType="IllegalWords" useGeneratedKeys="true" >
     <selectKey keyProperty="illegalWordId" resultType="int" order="AFTER">
			select LAST_INSERT_ID() 
		</selectKey> 
	INSERT INTO tbl_illegalWords (illegalWordTreeId,illegalWordCnt,saveDate)
	VALUES(#{illegalWordTreeId,jdbcType=INTEGER},
		#{illegalWordCnt,jdbcType=VARCHAR},#{saveDate,jdbcType=DATE})
</insert>
<!-- 根据subjectId返回行业关键词 -->
<select id="loadIllegalWordsByIllegalWordTreeId" parameterType="int" resultType="IllegalWords" flushCache="true">
	SELECT * FROM tbl_illegalWords WHERE illegalWordTreeId=#{illegalWordTreeId} 
</select>

</mapper>